.main{
    height: 200px;
    width: 400px;
    background-color:#ccc;
    margin-top: 300px;
    margin-right: auto;
    margin-left: auto;
    position:relative;

}
.LT{
    height: 50px;
    width: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius:0 0 50px 0 ;
    background-color: #fc0;
}
.RB{
    height: 50px;
    width: 50px;
    border-radius: 50px 0 0 0;
    -webkit-border-radius: 50px 0 0 0;
    -moz-border-radius: 50px 0 0 0;
    background-color: #fc0;
    float: right;
    margin-top: 100px;
}
.father{
    height: 800px;
    width: 800px;
    border: 1px solid red;
    position: absolute;
}